# directories
.idea/
lib/
out/

# class files
*.class

# config files
*.xml
*.iml
java-kanban.iml


# log files
*.log
.DS_Store
DS_Store

# mobile Tools for Java (J2ME)
.mtj.tmp/

# package files
*.jar
*.java

# IntelliJ IDEA
.idea

# other files
README.md